html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
	text-decoration: none;
}

*:focus-visible {
  outline: none;
}

body {
  min-width: 320px;
  font-family: $font-family;
  color: $text;
  background-color: $background;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 776px
}

.list-reset {
	@include list-reset;
}

.btn-reset {
  @include btn-reset;
}

.visually-hidden {
  @include visually-hidden;
}

.title {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.45px;
}

.text {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1.38px;
}