// fonts
$font: "SFProText";
$font-family: $font, sans-serif;

// color
$accent-primary: #ff6b00;
$accent-border: rgba(255, 107, 0, 0.30);
$background: #fff;
$background-004: rgba(4, 4, 5, 0.04);
$border: rgba(4, 4, 5, 0.22);
$black-text: #040405;
$black-text-03: #0404054d;
$text: #05090e;
$fills-quaternary: rgba(120, 120, 128, 0.08);