// fonts
$font: "SFProText";
$fontSecondary: "FormaDJRCyrillicText";
$font-family: $font, sans-serif;
$font-family-secondary: $fontSecondary, sans-serif;

// color
$accent-primary: #ff6b00;
$accent-border: rgba(255, 107, 0, 0.30);
$background: #fff;
$background-004: rgba(4, 4, 5, 0.04);
$border: rgba(4, 4, 5, 0.22);
$black-text: #040405;
$black-text-03: #0404054d;
$black-text-07: #040405b3;
$burnt-sienna:#eb5757;
$red: #ff3b30;
$text: #05090e;
$fills-quaternary: rgba(120, 120, 128, 0.08);
$white-95: rgba(255, 255, 255, 0.95)